openapi: 3.1.0

info:
  title: Decision System Governance Gateway
  version: 3.2.0
  description: >
    Minimal three-operation interface for submitting tasks and reading trusted
    governance receipts. Tasks use one global FIFO execution slot.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/decision-system-governance/issues:
    post:
      operationId: submitDecisionTask
      summary: Submit one asynchronous decision-system task
      description: >
        Create one [control] Issue containing a governance-control-ticket-v3 JSON
        string. Do not include task_id or secrets. Save the returned Issue number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - title
                - body
              properties:
                title:
                  type: string
                  enum:
                    - "[control]"
                body:
                  type: string
                  maxLength: 100000
                  description: >
                    JSON string containing schema_version, route, ticket and
                    optional wait_seconds. The nested ticket must omit task_id.
                  examples:
                    - '{"schema_version":"governance-control-ticket-v3","route":"compute","ticket":{"operation":"descriptive_statistics","inputs":{"data":[1,2,3]}}}'
      responses:
        "201":
          description: Governance Issue created and queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  title:
                    type: string
                  body:
                    type: string
                  state:
                    type: string
                  state_reason:
                    type: string
                  html_url:
                    type: string
                  comments:
                    type: integer

  /repos/a15280020511/decision-system-governance/issues/{issue_number}:
    get:
      operationId: getDecisionTaskStatus
      summary: Read task status
      description: >
        Read the governance Issue state and status block. For a terminal claim,
        also call getDecisionTaskReceipts and verify the matching bot receipt,
        Task ID, child status and Artifact identity.
      parameters:
        - name: issue_number
          in: path
          required: true
          description: Governance Issue number returned by submitDecisionTask
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Governance task status
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  title:
                    type: string
                  body:
                    type: string
                  state:
                    type: string
                  state_reason:
                    type: string
                  html_url:
                    type: string
                  comments:
                    type: integer

  /repos/a15280020511/decision-system-governance/issues/{issue_number}/comments:
    get:
      operationId: getDecisionTaskReceipts
      summary: Read trusted workflow receipts
      description: >
        Read governance Issue comments. Trust only comments whose user.login is
        github-actions[bot]. Require the terminal receipt Task ID to match the
        governance Issue status.
      parameters:
        - name: issue_number
          in: path
          required: true
          description: Governance Issue number returned by submitDecisionTask
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Comments per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          required: false
          description: One-based page number
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Governance Issue comments
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    body:
                      type: string
                    user:
                      type: object
                      properties:
                        login:
                          type: string
                    html_url:
                      type: string
                    created_at:
                      type: string

components:
  schemas: {}
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer

security:
  - githubBearer: []
