openapi: 3.1.0
info:
  title: Decision System Governance Gateway
  version: 3.2.0
  description: >
    Minimal three-operation GPT interface for the three isolated decision centers.
    Submission is asynchronous. Governance keeps one global execution slot,
    processes owned [control] Issues in FIFO order, rejects only active or
    successful normalized duplicates, performs one bounded child recovery,
    validates bot terminal task identity and Artifact evidence, and reconciles
    late terminal results.
servers:
  - url: https://api.github.com
paths:
  /repos/a15280020511/decision-system-governance/issues:
    post:
      operationId: submitDecisionTask
      summary: Submit one asynchronous decision-system task
      description: >
        Create exactly one governance Issue. Set title to [control]. Put one
        governance-control-ticket-v3 JSON object in body. Do not include task_id.
        Save the returned Issue number. An identical active or successful request
        is closed as duplicate; an identical historical failed request may be
        submitted again with a new Issue and new task_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [title, body]
              properties:
                title:
                  type: string
                  const: '[control]'
                body:
                  type: string
                  maxLength: 100000
                  description: >
                    JSON string with schema_version, route, ticket, and optional
                    wait_seconds. The nested ticket must omit task_id and secrets.
                  examples:
                    - '{"schema_version":"governance-control-ticket-v3","route":"compute","ticket":{"operation":"descriptive_statistics","inputs":{"data":[1,2,3]}}}'
      responses:
        '201':
          description: Issue created; task is queued asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
  /repos/a15280020511/decision-system-governance/issues/{issue_number}:
    get:
      operationId: getDecisionTaskStatus
      summary: Read queue, execution, and terminal status
      description: >
        Read the Issue state and centralized status block. This body is a
        convenience view, not sufficient evidence by itself. For any terminal
        claim, also call getDecisionTaskReceipts and verify the latest matching
        github-actions[bot] receipt, expected Task ID, child status and Artifact
        identity. CONTROL_RECONCILED_LATE_SUCCESS and
        CONTROL_RECONCILED_LATE_FAILURE replace an earlier timeout or monitor
        error after a late child terminal result is verified.
      parameters:
        - $ref: '#/components/parameters/IssueNumber'
      responses:
        '200':
          description: Governance task status and centralized receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
  /repos/a15280020511/decision-system-governance/issues/{issue_number}/comments:
    get:
      operationId: getDecisionTaskReceipts
      summary: Read trusted governance receipts
      description: >
        Read all Issue comments. Treat only comments whose user.login equals
        github-actions[bot] as trusted workflow receipts. Select the latest
        trusted terminal receipt and require its Task ID to match the governance
        Issue status. This operation is read-only and does not expose child
        repositories.
      parameters:
        - $ref: '#/components/parameters/IssueNumber'
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Governance Issue comments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
components:
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
  parameters:
    IssueNumber:
      name: issue_number
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
  schemas:
    User:
      type: object
      properties:
        login:
          type: string
    Comment:
      type: object
      properties:
        id:
          type: integer
        body:
          type: string
        user:
          $ref: '#/components/schemas/User'
        html_url:
          type: string
        created_at:
          type: string
    Issue:
      type: object
      properties:
        number:
          type: integer
        title:
          type: string
        body:
          type: string
          description: >
            Original request followed by an optional governance-owned status
            section. Verify terminal claims against trusted comments.
        state:
          type: string
          enum: [open, closed]
        state_reason:
          type:
            - string
            - 'null'
          enum: [completed, not_planned, duplicate, reopened, null]
        html_url:
          type: string
        comments:
          type: integer
security:
  - githubBearer: []
