openapi: 3.1.0

info:
  title: Decision System Governance Gateway
  version: 4.0.1
  description: >
    Recoverable interface for submitting governance tasks and reading trusted
    receipts. New requests use a client-generated UUID and one global FIFO slot.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/decision-system-governance/issues:
    post:
      operationId: submitDecisionTask
      summary: Submit one asynchronous decision-system task
      description: >
        Generate a UUID before this call. Create one [control] Issue with a v4
        JSON body containing client_request_id. Save the UUID and returned Issue
        number. After a 201 response, call getDecisionTaskStatus. If the POST
        result is missing, recover by client_request_id before retrying.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - title
                - body
              properties:
                title:
                  type: string
                  enum:
                    - "[control]"
                body:
                  type: string
                  maxLength: 100000
                  description: >
                    JSON string with schema_version, client_request_id, route,
                    ticket and optional wait_seconds. For v4, client_request_id
                    must be a UUID generated before submission. The nested ticket
                    must omit task_id and secrets.
                  examples:
                    - '{"schema_version":"governance-control-ticket-v4","client_request_id":"8beae650-3676-4a76-b8a4-e45f76ccf822","route":"compute","ticket":{"operation":"descriptive_statistics","inputs":{"data":[1,2,3]}}}'
      responses:
        "201":
          description: Governance Issue created; read-after-write is still required
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  title:
                    type: string
                  body:
                    type: string
                  state:
                    type: string
                  state_reason:
                    type: string
                  html_url:
                    type: string
                  comments:
                    type: integer

    get:
      operationId: findDecisionTaskByClientRequestId
      summary: Recover a task after an ambiguous submission result
      description: >
        List recent open and closed governance Issues and find the exact
        client_request_id. Reuse the lowest matching Issue number and do not
        submit again. If multiple matches exist, inspect trusted bot receipts
        for duplicate or conflict status. This operation is read-only.
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
            default: all
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [created, updated, comments]
            default: created
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Governance Issues to scan for the exact client_request_id
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: integer
                    title:
                      type: string
                    body:
                      type: string
                    state:
                      type: string
                    state_reason:
                      type: string
                    html_url:
                      type: string
                    comments:
                      type: integer
                    created_at:
                      type: string
                    updated_at:
                      type: string

  /repos/a15280020511/decision-system-governance/issues/{issue_number}:
    get:
      operationId: getDecisionTaskStatus
      summary: Read task status and verify submission readback
      description: >
        Read the governance Issue after submission and verify its number and
        client_request_id. For terminal status, also read trusted bot receipts
        and confirm the Task ID, child status and Artifact identity. Use
        governance-machine-status JSON instead of inferring state from prose.
      parameters:
        - name: issue_number
          in: path
          required: true
          description: Governance Issue number returned or recovered for the request
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Governance task status
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  title:
                    type: string
                  body:
                    type: string
                  state:
                    type: string
                  state_reason:
                    type: string
                  html_url:
                    type: string
                  comments:
                    type: integer

  /repos/a15280020511/decision-system-governance/issues/{issue_number}/comments:
    get:
      operationId: getDecisionTaskReceipts
      summary: Read trusted workflow receipts
      description: >
        Read governance Issue comments. Trust only comments from
        github-actions[bot]. CONTROL_RECEIVED proves ingress and readback, not
        business completion. Report completion only when the terminal Task ID
        and machine status match the governance Issue.
      parameters:
        - name: issue_number
          in: path
          required: true
          description: Governance Issue number returned or recovered for the request
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Comments per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          required: false
          description: One-based page number
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Governance Issue comments
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    body:
                      type: string
                    user:
                      type: object
                      properties:
                        login:
                          type: string
                    html_url:
                      type: string
                    created_at:
                      type: string

components:
  schemas: {}
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer

security:
  - githubBearer: []
