openapi: 3.1.0
info:
  title: Decision System Governance Gateway
  version: 3.0.0
  description: >
    Minimal two-operation GPT interface for the three isolated decision centers.
    GPT submits exactly one governance Issue and reads that same Issue for all
    running and terminal status. Governance performs validation, task-ID
    assignment, routing, dispatch, monitoring, failure handling, result
    summarization, Issue-body updates, closure, and evidence recording.
servers:
  - url: https://api.github.com
paths:
  /repos/a15280020511/decision-system-governance/issues:
    post:
      operationId: submitDecisionTask
      summary: Submit one decision-system task
      description: >
        Create exactly one governance Issue. Set title to [control]. Put one
        governance-control-ticket-v3 JSON object in body. Do not include task_id;
        governance generates it from the new Issue number. No second comment,
        dispatch command, child-repository access, or receipt operation is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [title, body]
              properties:
                title:
                  type: string
                  const: '[control]'
                body:
                  type: string
                  maxLength: 100000
                  description: >
                    JSON string with schema_version, route, ticket, and optional
                    wait_seconds. The nested ticket must omit task_id.
                  examples:
                    - '{"schema_version":"governance-control-ticket-v3","route":"compute","ticket":{"operation":"descriptive_statistics","inputs":{"data":[1,2,3]}}}'
      responses:
        '201':
          description: Task accepted by GitHub for governance processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
  /repos/a15280020511/decision-system-governance/issues/{issue_number}:
    get:
      operationId: getDecisionTaskStatus
      summary: Read status and centralized result from one Issue
      description: >
        Poll this operation only. state=open means queued or running. The body
        contains the latest centralized CONTROL_DISPATCHED receipt. state=closed
        with state_reason=completed means success and the body contains the final
        CONTROL_COMPLETED receipt, child status, child Issue, trusted terminal
        excerpt, Artifact metadata, and any published result summary.
        state=closed with state_reason=not_planned means rejected, failed, or
        timed out and the body contains the centralized failure reason.
      parameters:
        - $ref: '#/components/parameters/IssueNumber'
      responses:
        '200':
          description: Governance task status and centralized receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
components:
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
  parameters:
    IssueNumber:
      name: issue_number
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
  schemas:
    Issue:
      type: object
      properties:
        number:
          type: integer
        title:
          type: string
        body:
          type: string
          description: >
            Original governance ticket followed by a governance-owned status
            section delimited by governance-status markers.
        state:
          type: string
          enum: [open, closed]
        state_reason:
          type:
            - string
            - 'null'
          enum: [completed, not_planned, reopened, null]
        html_url:
          type: string
        comments:
          type: integer
security:
  - githubBearer: []
