openapi: 3.1.0

info:
  title: Decision System Governance Gateway
  version: 4.2.0
  description: >
    Diagnostic and recoverable interface for governance tasks. It separates
    public transport, bearer authentication, exact ticket construction,
    task submission, and readback.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/decision-system-governance:
    get:
      operationId: checkGovernanceGatewayPublic
      summary: Test the public GitHub Action transport
      description: >
        Call this first when diagnosing connectivity. It requires no credential
        and performs no write. A 200 response proves the GPT Action can reach
        GitHub. On failure, stop and report ACTION_TRANSPORT_UNAVAILABLE.
      x-openai-isConsequential: false
      security: []
      responses:
        "200":
          description: Public GitHub repository metadata returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_name:
                    type: string
                  archived:
                    type: boolean
                  disabled:
                    type: boolean
                  has_issues:
                    type: boolean
                  default_branch:
                    type: string
        default:
          description: Public transport failed; do not attempt task submission

  /user:
    get:
      operationId: checkGitHubAuthentication
      summary: Test the configured GitHub bearer token
      description: >
        Call after the public transport check. A 200 response proves the bearer
        token is accepted by GitHub. On 401 or 403, stop, report the exact status,
        and never call submitDecisionTask in the same turn.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      responses:
        "200":
          description: Authenticated GitHub identity returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  login:
                    type: string
                  id:
                    type: integer
                  type:
                    type: string
        "401":
          description: Bearer token missing, malformed, expired, or invalid
        "403":
          description: Token accepted but access is restricted

  /repos/a15280020511/decision-system-governance/issues:
    post:
      operationId: submitDecisionTask
      summary: Submit one asynchronous decision-system task
      description: >
        Call once only after both diagnostic GET operations return 200. Use the
        exact v4 schema and one allowed route. After approval, never call this
        operation again for the same task. On non-201, stop without POST retry.
      x-openai-isConsequential: true
      security:
        - githubBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - title
                - body
              properties:
                title:
                  type: string
                  enum:
                    - "[control]"
                body:
                  type: string
                  minLength: 1
                  maxLength: 100000
                  description: >
                    JSON string. schema_version must be exactly
                    governance-control-ticket-v4, never 4 or v4. route must be
                    exactly intelligence, compute, or expert; never research,
                    analysis, strategy, api, or simulation. Expert tickets use
                    objective, pipeline=expert-team, task.question,
                    task.requirements, task.language, execution_acceptance,
                    evidence, approved_budget, and private_output=false. Expert
                    tickets must not use title, user_request, output_language,
                    task_id, model IDs, providers, or governance_model_plan.
                  examples:
                    - '{"schema_version":"governance-control-ticket-v4","client_request_id":"8beae650-3676-4a76-b8a4-e45f76ccf822","route":"compute","ticket":{"operation":"descriptive_statistics","inputs":{"data":[1,2,3]}},"wait_seconds":2400}'
                    - '{"schema_version":"governance-control-ticket-v4","client_request_id":"4193e9a8-871e-4c40-8fef-d2791685d239","route":"expert","ticket":{"objective":"研判一个战略问题","pipeline":"expert-team","task":{"question":"完整问题文本","requirements":["区分事实、推断和未知"],"language":"zh-CN"},"execution_acceptance":["发布完整最终综合报告"],"evidence":[],"approved_budget":{"calls":8,"maximum_recovery_calls":1},"private_output":false},"wait_seconds":2700}'
                    - '{"schema_version":"governance-control-ticket-v4","client_request_id":"7279a90d-cb8b-42a3-a848-f48a6cfb38f3","route":"intelligence","ticket":{"query":"检索并核验公开证据","requirements":["列出来源和日期"],"language":"zh-CN"},"wait_seconds":2400}'
      responses:
        "201":
          description: Governance Issue created; read-after-write is still required
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  title:
                    type: string
                  body:
                    type: string
                  state:
                    type: string
                  state_reason:
                    type: string
                  html_url:
                    type: string
                  comments:
                    type: integer
        "401":
          description: Bearer token missing, malformed, expired, or invalid
        "403":
          description: Token lacks Issues write access or GitHub blocked the request
        "422":
          description: Request validation failed; do not retry automatically
        default:
          description: Submission failed; report the exact status and stop

    get:
      operationId: findDecisionTaskByClientRequestId
      summary: Recover a task after an ambiguous submission result
      description: >
        List recent open and closed governance Issues and find the exact
        client_request_id. Reuse the lowest matching Issue number and do not
        submit again. If multiple matches exist, inspect trusted bot receipts.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
            default: all
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [created, updated, comments]
            default: created
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Governance Issues to scan for the exact client_request_id
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    number:
                      type: integer
                    title:
                      type: string
                    body:
                      type: string
                    state:
                      type: string
                    state_reason:
                      type: string
                    html_url:
                      type: string
                    comments:
                      type: integer
                    created_at:
                      type: string
                    updated_at:
                      type: string
        "401":
          description: Bearer token invalid
        "403":
          description: Token lacks Issues read access

  /repos/a15280020511/decision-system-governance/issues/{issue_number}:
    get:
      operationId: getDecisionTaskStatus
      summary: Read task status and verify submission readback
      description: >
        Read the governance Issue after submission and verify its number and
        client_request_id. For terminal status, also read trusted bot receipts
        and confirm the Task ID, child status and Artifact identity.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: issue_number
          in: path
          required: true
          description: Governance Issue number returned or recovered for the request
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Governance task status
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  title:
                    type: string
                  body:
                    type: string
                  state:
                    type: string
                  state_reason:
                    type: string
                  html_url:
                    type: string
                  comments:
                    type: integer
        "401":
          description: Bearer token invalid
        "403":
          description: Token lacks Issues read access
        "404":
          description: Governance Issue was not found

  /repos/a15280020511/decision-system-governance/issues/{issue_number}/comments:
    get:
      operationId: getDecisionTaskReceipts
      summary: Read trusted workflow receipts
      description: >
        Read governance Issue comments. Trust only github-actions[bot].
        CONTROL_RECEIVED proves ingress and readback, not business completion.
        Report completion only when terminal Task ID and machine status match.
      x-openai-isConsequential: false
      security:
        - githubBearer: []
      parameters:
        - name: issue_number
          in: path
          required: true
          description: Governance Issue number returned or recovered for the request
          schema:
            type: integer
            minimum: 1
        - name: per_page
          in: query
          required: false
          description: Comments per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: page
          in: query
          required: false
          description: One-based page number
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Governance Issue comments
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    body:
                      type: string
                    user:
                      type: object
                      properties:
                        login:
                          type: string
                    html_url:
                      type: string
                    created_at:
                      type: string
        "401":
          description: Bearer token invalid
        "403":
          description: Token lacks Issues read access
        "404":
          description: Governance Issue was not found

components:
  schemas: {}
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer

security:
  - githubBearer: []
