openapi: 3.1.0
info:
  title: Decision System Governance Gateway
  version: 3.1.0
  description: >
    Minimal two-operation GPT interface for the three isolated decision centers.
    Submission is asynchronous. Governance keeps one global execution slot,
    processes owned [control] Issues in FIFO order, rejects normalized duplicate
    tasks, performs bounded recovery, and writes all status and results back to
    the same governance Issue.
servers:
  - url: https://api.github.com
paths:
  /repos/a15280020511/decision-system-governance/issues:
    post:
      operationId: submitDecisionTask
      summary: Submit one asynchronous decision-system task
      description: >
        Create exactly one governance Issue. Set title to [control]. Put one
        governance-control-ticket-v3 JSON object in body. Do not include task_id.
        Save the returned Issue number and never retry by creating a second Issue.
        Governance derives a canonical request fingerprint from route and ticket;
        an identical earlier request is closed with state_reason=duplicate.
        Valid distinct requests wait in FIFO order while the single execution
        slot is occupied.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [title, body]
              properties:
                title:
                  type: string
                  const: '[control]'
                body:
                  type: string
                  maxLength: 100000
                  description: >
                    JSON string with schema_version, route, ticket, and optional
                    wait_seconds. The nested ticket must omit task_id.
                  examples:
                    - '{"schema_version":"governance-control-ticket-v3","route":"compute","ticket":{"operation":"descriptive_statistics","inputs":{"data":[1,2,3]}}}'
      responses:
        '201':
          description: Issue created; task is queued asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
  /repos/a15280020511/decision-system-governance/issues/{issue_number}:
    get:
      operationId: getDecisionTaskStatus
      summary: Read queue, execution, and terminal status
      description: >
        Poll only this operation. state=open without a governance status block
        means queued. CONTROL_RUNNING or CONTROL_DISPATCHED means the one global
        slot is executing this task. state=closed with state_reason=completed
        means success. state=closed with state_reason=duplicate means the same
        normalized route and ticket were submitted earlier; the body identifies
        the original Issue. state=closed with state_reason=not_planned means
        rejection, failure, timeout, or bounded-retry exhaustion.
      parameters:
        - $ref: '#/components/parameters/IssueNumber'
      responses:
        '200':
          description: Governance task status and centralized receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
components:
  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
  parameters:
    IssueNumber:
      name: issue_number
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
  schemas:
    Issue:
      type: object
      properties:
        number:
          type: integer
        title:
          type: string
        body:
          type: string
          description: >
            Original immutable request followed by an optional governance-owned
            status section delimited by governance-status markers.
        state:
          type: string
          enum: [open, closed]
        state_reason:
          type:
            - string
            - 'null'
          enum: [completed, not_planned, duplicate, reopened, null]
        html_url:
          type: string
        comments:
          type: integer
security:
  - githubBearer: []
